<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
<link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - us3</title>
   
</head>
<body>

    <header>
        <nav class="navbar">
            <a class="navbar-brand" asp-area="" asp-page="/Index">US3</a>

        @*Stream in the data for the client Name here *@
            <h1>Client Name</h1>
            <form class="form-inline">
                <input type="search" placeholder="Search" aria-label="Search">
                <button class="navbar-button" type="submit">Search</button>
                <button class="navbar-button">Alerts</button>
            </form>
        </nav>
    </header>

    <div class="content-container">
        <div class="sidebar">
            <a asp-area="" asp-page="/Dashboard">Dashboard</a>
             <span class="dropdown-item-text" onclick="toggleDropdown()">Data Menu</span>
            <div class="dropdown-menu">
                <a asp-area="" asp-page="/Page4">Locations</a>
                <a asp-area="" asp-page="/Page5">H2S</a>
                <a asp-area="" asp-page="/Page6">Pump Stations</a>
                <a asp-area="" asp-page="/Page7">SCADA-ENS</a>
                <a asp-area="" asp-page="/Page8">Z-Flow Study</a>
                <a asp-area="" asp-page="/Page9">Decommissioned Sites</a>
            </div>
            <a asp-area="" asp-page="/Reports">Reports</a>
            <a asp-area="" asp-page="/Page3">Logs</a>
           
            <a asp-area="" asp-page="/Page10">Settings</a>
        </div>

        <div class="main-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer text-muted">
        &copy; 2024 - us3 - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </footer>

    <script>
        function toggleDropdown() {
            const dropdownMenu = document.querySelector('.dropdown-menu');
            dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
