@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Site Alarms</h3>
        <h3>Time Stamp</h3>
                <h3>Message</h3>
                <h3>Ack</h3>
                <h3>Notes</h3>
                <a> View</a>
    <div>
<label>Site</label>
    </div>
</div>
